@font-face {
	font-family: "Montserrat";
	src: url ("./fonts/montserrat-regular-woff") format(woff);
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif; 
}

header {
	background: grey;
	color: white;
}

header h1 {
	display: block;
	margin:0px;
    font-size:30px;
    padding-left: 40px;
}

header h1:hover {
	color: #CBCEDE;
	margin-right: 40px; 
}

header nav ul li {
	display: inline-block;
	list-style: none;
	margin-right: 20px;
}

header h1,
header nav {
	   vertical-align: middle;
	   display: inline-block;
}

nav ul li {
	display: inline-block;
	padding: 25px;
}

nav ul li a {
	color: white;
	text-decoration: unset;
}

section {
	margin:auto;
	text-align: center;
   }

 section img {
	padding:40px;
	opacity: 1;
	transition: opacity 0.5s linear;
   }

 section img:hover {
 	opacity: 0;
 	padding: 80px;
 }

section p:hover {
	opacity: 0.5;
}
 section p a {
 	color: #1abc9c;
 	text-decoration: none;
 }
